html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}
body {
 background-image: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
}